@import "Parent.css";

.split-pane {
    -fx-background-color: transparent;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: -color-num3;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: -color-num3;
}

VBox {
    -fx-background-color: -color-num2;
}

#right-side {
    -fx-background-color: -color-num3;
}

.text-field {
    -fx-background-color: -color-num2;
}

.text-area {
    -fx-text-fill: -color-text-area-border;
    -fx-background-color: -color-num2;
    -fx-border-color: -color-num2;
}

.text-area .content {
    -fx-background-color: -color-num2;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.text-area .scroll-bar {
    -fx-background-color: -color-num2;
}

.list-view {
    -fx-background-color: -color-num1;
}

#contact-list {
    -fx-background-color: -color-num3;
}