@import "Parent.css";

.split-pane {
    -fx-background-color: transparent;
}

.split-pane:horizontal > .split-pane-divider, .split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#right-side {
    -fx-background-color: -color-num3;
}

.text-field {
    -fx-background-color: -color-num2;
}

.text-area {
    -fx-text-fill: -color-text-area-border;
    -fx-background-color: -color-num2;
    -fx-border-color: -color-num2;
}

.text-area .content {
    -fx-background-color: -color-num2;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

#message-list {
    -fx-background-color: -color-num1;
}

#message-list .list-cell {
    -fx-border-color: -color-num1;
}

#message-list .list-cell:filled {
    -fx-background-color: -color-num2;
}

#message-list .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #778;
    -fx-text-fill: #fff;
}

#message-list .list-cell:empty {
    -fx-background-color: -color-num1;
}